<ion-view>
  <ion-content>
    <ion-list>
      <a class="item item-thumbnail-center chat-hotel-name" href="#">
        <img ng-src="{{settings.selectedHotel.img}}">
        <h2> {{settings.selectedHotel.name}}</h2>
      </a>
      <div class="item item-divider">
        Services
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in hotelBasicChats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <div class="item item-divider">
        Guest Chats
      </div>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in hotelChats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
